<article>
    <img class="img" src="assets\img\Consult-logo.png" alt="logo-deloitte">
    <form>
        <label>
            Usuario de administrador:
            <input type="text" name="novoUsuario" id="usuarioAdminC" placeholder="" [(ngModel)]="nomeAdmin">
        </label>
        <label>
            Email de administrador:
            <input type="text" name="novoUsuario" id="usuarioAdminC" placeholder="" [(ngModel)]="email">
        </label>
        <label>
            Senha de administrador:
            <input type="password" name="senha" id="senhaAdminC" placeholder="" [(ngModel)]="senhaAdmin">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha-confirmada" id="senhaAdminCC" placeholder=""  [(ngModel)]="senhaConfAdmin">
        </label>
        <div *ngIf="senhaInvalida" class="alert alert-danger" role="alert">
            Confirmação de senha inválida
            <span (click)="esconderErro()">x</span>
        </div>
        <div class="controles">      
            <p class="link" [routerLink]="['/login-admin']">Voltar</p>
            <button type="submit" class="salvar" (click)="validarCampos(senhaAdmin, senhaConfAdmin)">Salvar</button>
        </div>
    </form>

</article>
