.container{
    margin: 20px 0;
}
.card{
    margin:20px 0;
    color: black;
}

.card-title{
    color: black;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.card-title:hover{
    color: #A435F0;
}

img{
    margin: 10px;
    margin: 0;

    margin: 10px;

    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    margin: 10px 10px;
}
button.btn {
    width: 10vw;

    border: 1px solid black;

    color: black;
    font-weight: 500;
}

div button.btn:hover {
    border: 1px solid #A435F0;
    background-color: #A435F0;
    color: #fff;
}
.col-md-4{
    margin: 0;
}

.infos{
    color: black;
}

.col-md-4{
    max-width: 170px;
}


.infos{
    color: black;
}

.col-md-4{
    max-width: 170px;
}


.card-body{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.icon{
    cursor: pointer;
}
.icon:hover{
    color: #A435F0;
}
.input-group{
    max-width: 32vw;
}