<div class="container">
    <form (submit)="envioFormulario()">
      <h5>Adicionar curso</h5>
      <label>
          Titulo:
          <input type="text" name="titulo" id="titulo" placeholder="" [(ngModel)]="titulo">
      </label>
      <label>
          Descricao:
          <input type="text" name="descricao" id="descricao" placeholder="" [(ngModel)]="descricao">
      </label>
      <label>
          Valor:
          <input type="number" name="valor" id="valor" placeholder="" [(ngModel)]="valor">
      </label>
      <div class="controles">      
          <p class="link" [routerLink]="['/cursos']">Voltar</p>
          <button type="submit" class="btn">Salvar</button>
      </div>
  </form>
  </div>
  