<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
  
      <!-- Login Form -->
      <form>
        <img src="https://udeyou.s3.sa-east-1.amazonaws.com/udeyou-logo.png" alt="">
        <input type="submit" class="fadeIn fourth" value="Confirme clicando aqui" (click)="emitirConfirmacao()" (click)="goToLink('http://localhost:4200/login')">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Esta página recebe suporte da Udeyou</a>
      </div>
  
    </div>
</div>
