<div class="container">
    <form (submit)="envioFormulario()">
      <h5>Alterar curso</h5>
      <label>
          Titulo:
          <input type="text" name="novoTitulo" id="titulo" placeholder="" [(ngModel)]="novoTitulo">
      </label>
      <label>
          Descricao:
          <input type="text" name="novaDescricao" id="descricao" placeholder="" [(ngModel)]="novaDescricao">
      </label>
      <label>
          Valor:
          <input type="number" name="novoValor" id="valor" placeholder="" [(ngModel)]="novoValor">
      </label>
      <div class="controles">      
          <p class="link" [routerLink]="['/cursos']">Voltar</p>
          <button type="submit" class="btn">Salvar</button>
      </div>
  </form>
  </div>
  