<article>
    <img class="img" src="assets\img\udeyou-logo.png" alt="logo-udeyou">
    <form>
        <label>
            Usuario:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="novoNomeUsuario">
        </label>
        <label>
            Email:
            <input type="text" name="novoUsuario" id="usuario" placeholder="" [(ngModel)]="email">
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha" placeholder="" [(ngModel)]="senha">
        </label>
        <label>
            Confirme sua senha:
            <input type="password" name="senha-confirmada" id="senhaC" placeholder="" [(ngModel)]="senhaConfirmada">
        </label>
        <div *ngIf="senhaInvalida" class="alert alert-danger" role="alert">
            Confirmação de senha inválida
            <span (click)="esconderErro()">x</span>
        </div>
        <div class="controles">      
            <p class="link" [routerLink]="['/login']">Voltar</p>
            <button type="submit" class="btn" (click)="validarCampos(senha, senhaConfirmada)">Salvar</button>
        </div>
    </form>
</article>
