.carrinho-img {
    display: flex;
    justify-content: center;
}

.carrinho-text {
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.container{
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
}

div.card img{
    width: 288px;
    height: 138px;
    max-width: 288px;
    max-height: 138px;
}

div .input-group{
    width: 45vw;
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
}

div .cursos{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;
    flex-wrap: wrap;
}

div.card{
    margin: 20px 0;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 2px #999;
}

div button.btn {
    width: 201px;

    border: 1px solid black;

    color: black;
    font-weight: 500;
}

div button.btn:hover {
    border: 1px solid #A435F0;
    background-color: #A435F0;
    color: #fff;
}
.card-title{
    font-size: 20px;
    font-weight: 500;
    color: black;
    cursor: pointer;

}
.card-title:hover{
    color: #A435F0;

}
.card-text{
    height: 10vh;
}
.card-price{
    font-weight: 600;
}

