<div class="carrinho-img">
    <img src="assets\img\empty-cartjpg.jpg" alt="">
</div>
<div class="carrinho-text">
    <p>Estes são os seus cursos!</p>
</div>

<div class="container">
    <div class="input-group">
      <input class="form-control" type="search" aria-label="Search" #inputPesquisa id="input-pesquisa" (input)="pesquisar(inputPesquisa.value)" type="text" placeholder="Curso...">
        <div class="input-group-append">
        <div class="input-group-text"><mat-icon id="icon-pesq" class="material-icons-outlined">search</mat-icon></div>
      </div>
    </div>

<div class="cursos" *ngFor="let cursoF of cursosFiltrados$ | async">
    <div class="card" style="max-width: 18rem;">
      <img src="{{cursoF.imagem}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{cursoF.titulo}}</h5>
        <p class="card-text">{{cursoF.descricao}}</p>
        <p class="card-price">R$ {{cursoF.valor}}</p>
        <button type="button" class="btn" (click)="removerCurso(cursoF)">Remover do carrinho</button>
      </div>
    </div>
  </div>

<div class="cursos" *ngIf="pesquisando">
    <div class="card" style="max-width: 18rem;" *ngFor="let curso of cursos">
      <img src="{{curso.imagem}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{curso.titulo}}</h5>
        <p class="card-text">{{curso.descricao}}</p>
        <p class="card-price">R$ {{curso.valor}}</p>
        <button type="button" class="btn" (click)="removerCurso(curso)">Remover do carrinho</button>
      </div>
    </div>
  </div>
